<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weijie.firerunning"
    android:versionCode="2"
    android:versionName="2.0" >

    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="cn.bmob.permission.push" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.weijie.firerunning.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4644cc3e1f9bc3fde10fbca33202dd19" />

        <activity
            android:name="com.weijie.firerunning.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weijie.firerunning.activity.ShareActivity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.weijie.firerunning.activity.PlanActivity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.weijie.firerunning.activity.PlanDescActivity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.weijie.firerunning.activity.RecordDescActivity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.weijie.firerunning.activity.DiscussActivity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.weijie.firerunning.activity.LoginActivity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.weijie.firerunning.activity.RegistActivity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.weijie.firerunning.activity.CommentActivity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.weijie.firerunning.activity.ResetPasswordActivity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1105131904" />
                <!-- <data android:scheme="tencent100371282" /> -->

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.weijie.firerunning.gps.LBSService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.weijie.firerunning.gps.LBSService" />
            </intent-filter>
        </service>
        <service android:name="com.amap.api.location.APSService" >
        </service>
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" >
 				<!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 第四部中创建的消息接收器，在这里进行注册 -->
        <receiver android:name="com.weijie.firerunning.push.RunPushMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
        
        <service android:name="com.weijie.firerunning.service.UpdateService">
            <intent-filter>
                <action android:name="com.weijie.firerunning.update" />
            </intent-filter>
        </service>
    </application>

</manifest>